<div class="mainDiv">
  <div class="topDiv">
    <h1 class="title">Portfolio</h1>
  </div>

  <div class="contentAreaDiv">
    <section class="socialDiv">
      <p>My name is Seongrim Choi!</p>
      <div class="icon">
        <span><a href="https://github.com/wcsrchoi"><img src="../assets/github.png" alt="github icon"></a></span>
        <span><a href="https://www.facebook.com/wcsrchoi"><img src="../assets/facebook.png"
              alt="facebook icon"></a></span>
      </div>
    </section>

    <section class="mainContentDiv">
      <div class="summeryDiv">
        <hr>
        <div>
          <p style="font-size:large; ;">Summary</p>
        </div>
        <p>This is my summry! Add yours here.</p>
      </div>

      <div class="resumeDiv">
        <hr>
        <div>
          <p style="font-size:large">Resume</p>
        </div>
        <p>link to resume!</p>
      </div>

      <div class="projectDiv">
        <hr>
        <div>
          <p style="font-size:large">Projects</p>
        </div>
      </div>


    </section>
  </div>
</div>