.main {

  .header {
    align-content: center;
    background-color: #F9F7F7;
    text-align: center;

    .title {
      font-size: 45px;
      margin-top: 10px;
      color: white;
      text-shadow: black 1px 1px 11px
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    background-color: #DBE2EF;

    .bodyMain {
      background-color: #DCD6F7;
      display: flex;
      flex-direction: column;

      .summary {
        background-color: #3F72AF;

        .summaryItems {
          display: flex;
          flex-direction: row;

          .pImage {
            text-align: center;

            img {
              width: 250px;
              height: 250px;
              margin-left: 1vmax;
              border-radius: 50%;
            }
          }

          .summaryStr {
            margin-left: 1vmax;
            margin-right: 1vmax;
            font-size: 17px;
            color: white;
          }
        }

        // When the width of the screen becomes less than 850px,
        // flex-direction is changed from row to column,
        // making the profile picture go top of the summary.
        @media only screen and (max-width: 850px) {
          .summaryItems {
            flex-direction: column;
          }
        }
      }

      .resume {
        background-color: #112D4E;

        .buttonLink {
          color: white;
          text-align: center;
          justify-content: center;
        }
      }

      div {
        .sectionTitle {
          justify-content: center;
          color: white;
          display: flex;
          flex-direction: row;

          p {
            font-size: large;
            font-weight: bold;
            color: white;
            text-shadow: black 1px 1px 10px;
          }
        }
      }

      .project {
        background-color: #DCD6F7;

        .projectList {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap; // Make each project list wrap on to multiple line
          background-color: #DCD6F7;
          justify-content: center;
        }
      }
    }

    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-top: 10px;

      .icon {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        img {
          width: 50px;
          height: 50px;
        }

        img:hover {
          opacity: 0.3;
        }
      }
    }
  }
}

// ------------------------------------------------------------------------------------------------------------
// below this line is the section for the code taken from the internet.

// the Resume button effect
/* https://getcssscan.com/css-buttons-examples */
.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}