.mainDiv {
  height: 100%;
  width: 100%;

  .buttonLink {
    color: white;
    text-align: center;
    justify-content: center;
  }

  .topDiv {
    display: flex;
    height: 82.5px;
    width: 100%;
    justify-content: center;
    background-color: #F9F7F7;

    .title {
      font-size: 45px;
      margin-top: 10px;
      color: var(--font-color);
      text-shadow: 1px 1px 10px var(--primary-shadow), 1px 1px 10px var(--primary-shadow);
    }
  }

  .contentAreaDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #DBE2EF;

    .socialDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-top: 10px;
      // background-color: #FF8FB1;

      .icon {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        img {
          width: 50px;
        }

        img:hover {
          // This is just an effect so you can delete this if you want
          filter: invert(27%) sepia(51%) hue-rotate(346deg) brightness(104%) contrast(97%)
        }
      }
    }

    .mainContentDiv {
      background-color: #DCD6F7;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;

      .summaryDiv {
        background-color: #3F72AF;

        div {
          p {
            font-size: 20px;
            color: white;
            text-shadow: rgb(128, 128, 128) 1px 0 10px;
          }
        }
      }

      .resumeDiv {
        background-color: #112D4E;
      }

      div {
        color: white;

        div {
          color: white;
          display: flex;
          flex-direction: row;
          justify-content: center;

          p {
            font-size: large;
            font-weight: bold;
            color: white;
          }
        }
      }
    }

    .projectDiv {
      background-color: #DCD6F7;

      text-shadow: rgb(0, 0, 0) 1px 0 10px;
    }

    .projectsDiv {
      display: flex;
      // flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      background-color: #DCD6F7;
    }
  }
}


/* https://getcssscan.com/css-buttons-examples */
.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}