<div class="mainDiv">
  <div class="topDiv">
    <h1 class="title">Seongrim Choi</h1>
  </div>

  <div class="contentAreaDiv">
    <section class="socialDiv">
      <br>
      <div class="icon">
        <span><a href="https://github.com/wcsrchoi"><img src="../assets/github.svg" alt="github icon"></a></span>
        <span><a href="https://www.facebook.com/wcsrchoi"><img src="../assets/facebook.png"
              alt="facebook icon"></a></span>
        <span><a href="https://www.linkedin.com/in/seongrim-choi-ba8b78171/"><img src="../assets/linkedin.png"
              alt="LinkeIn icon"></a></span>
        <span><a href="https://www.instagram.com/wcsrchoi/"><img src="../assets/insta.webp"
              alt="LinkeIn icon"></a></span>
      </div>
      <br>
    </section>

    <section class="mainContentDiv">
      <div class="summaryDiv">
        <div>
          <p>Summary</p>
        </div>
        <div *ngFor="let summary of summary | async">
          {{summary.summary}}
        </div>
        <br>
      </div>

      <div class="resumeDiv">
        <div>
          <p>Resume</p>
        </div>
        <div class="buttonLink">
          <button class="button-48" role="button"
            onclick="location.href='https://docs.google.com/document/d/1i506Ftka9kG5Z0xN1FY1B8EZ4ni4EhiYU6iawH6CCY4/edit?usp=sharing';"><span
              class="text">Click for resume!</span></button>
        </div>
      </div>

      <div class="projectDiv">
        <div>
          <p>Projects</p>
        </div>
      </div>

      <div class="projectsDiv">
        <div *ngFor="let plist of items | async">
          <app-project-list title={{plist.name}} subtitle={{plist.subtitle}} content={{plist.content}}
            img={{plist.image}} link={{plist.link}}>
          </app-project-list>
        </div>
      </div>
      <br>
      <br>

    </section>
  </div>
</div>