<div class="main">

  <!-- This is the header section which my names goes. -->
  <div class="header">
    <h1 class="title">Seongrim Choi</h1>
  </div>

  <!-- This is the whole body section which includes Main Body, footer sections. -->
  <section class="body">

    <!-- This is the Main Body section which includes Summary, Resume, Project List sections. -->
    <section class="bodyMain">

      <!-- This is the Summary section. -->
      <div class="summary">
        <div class="sectionTitle">
          <p>About Me</p>
        </div>
        <div class="summaryItems">
          <!-- The profile image is fetched from the firestore. -->
          <div class="pImage" *ngFor="let pImage of profileImage | async">
            <img src="{{pImage.image}}" alt="Profile Picture">
          </div>
          <!-- The intoduction is fetched from the firestore. -->
          <div class="summaryStr" *ngFor="let summary of summary | async">
            {{summary.summary}}
          </div>
        </div>
        <br>
      </div>

      <!-- This is the Resume section. -->
      <div class="resume">
        <div class="sectionTitle">
          <p>Resume</p>
        </div>
        <div class="buttonLink">
          <!-- When the button is clicked, it leads to the resume that is saved externally. -->
          <!-- This button is from 'https://getcssscan.com/css-buttons-examples'. -->
          <button class="button-48" role="button"
            onclick="location.href='https://docs.google.com/document/d/1i506Ftka9kG5Z0xN1FY1B8EZ4ni4EhiYU6iawH6CCY4/edit?usp=sharing';"><span
              class="text">Click for resume!</span></button>
        </div>
      </div>

      <!-- This is the Project List section. -->
      <div class="project">
        <div class="sectionTitle">
          <p>Projects</p>
        </div>
        <div class="projectList">
          <!-- Project List details are fetched from the database and are passed to the custom component, 'project-list'. -->
          <div *ngFor="let plist of items | async">
            <app-project-list title={{plist.name}} subtitle={{plist.subtitle}} content={{plist.content}}
              img={{plist.image}} link={{plist.link}}>
            </app-project-list>
          </div>
        </div>
      </div>
      <br>
      <br>
    </section>

    <!-- This is the footer section. -->
    <section class="footer">
      <br>
      <!-- When icon is clicked, the page that is linked to the icon will be loaded. -->
      <div class="icon">
        <span><a href="https://github.com/wcsrchoi"><img src="../assets/github.svg" alt="github"></a></span>
        <span><a href="https://www.facebook.com/wcsrchoi"><img src="../assets/facebook.png" alt="facebook"></a></span>
        <span><a href="https://www.linkedin.com/in/seongrim-choi-ba8b78171/"><img src="../assets/linkedin.png"
              alt="LinkedIn"></a></span>
        <span><a href="https://www.instagram.com/wcsrchoi/"><img src="../assets/insta.webp" alt="instagram"></a></span>
      </div>
      <br>
    </section>

  </section>
</div>